{% extends "html/base.html" %}

{% block content %}
{% load static %}

<div class="container-fluid py-5 mt-5"style="min-height: 100vh;">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="{% static "img/about.jpg" %}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-uppercase border-bottom border-5 fs-2"style="color: #0cb8b6;">About Us</h5>
                    <h1 class="display-4">Best Medical Care For Yourself and Your Family</h1>
                </div>
                <p>Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam ipsum et, tempor voluptua sit consetetur sit. Aliquyam diam amet diam et eos sadipscing labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor consetetur takimata eirmod, dolores takimata consetetur invidunt magna dolores aliquyam dolores dolore. Amet erat amet et magna</p>
                <div class="row g-3 pt-3">
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                          <div class="icon"><i class="fa fa-3x fa-user-md  mb-3"></i></div>
                            <h6 class="mb-0">Qualified<small class="d-block " style="color: #0cb8b6;">Doctors</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                          <div class="icon"><i class="fa fa-3x fa-procedures  mb-3"></i></div>
                            <h6 class="mb-0">Emergency<small class="d-block " style="color: #0cb8b6;">Services</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                          <div class="icon"><i class="fa fa-3x fa-microscope  mb-3"></i></div>
                            <h6 class="mb-0">Accurate<small class="d-block " style="color: #0cb8b6;">Testing</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                          <div class="icon"><i class="fa fa-3x fa-ambulance mb-3"></i></div>
                            <h6 class="mb-0">Free<small class="d-block " style="color: #0cb8b6;">Ambulance</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  


{% endblock content %}