{% extends 'doctor/doctor_base.html' %}
{% load static %}
{% block content %}
{%include 'doctor/doctor_dashboard_cards.html'%}
<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="panel panel-primary" style="margin-left:2%;">
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">Recent Appointments For You</h6>
      </div>
      <table class="table table-hover table-striped" id="dev-table">
        <thead class="thead-dark">
          <tr>
            <th>Department</th>
            <th>Patient Name</th>
            <th>Contact</th>
            <th>Description</th>
            <th>Date</th>
          </tr>
        </thead>
        {% for a in appointments %}
        <tr>
          <td>{{a.department}}</td>
          <td>{{a.your_name}}</td>
          <td>{{a.phone_number}}</td>
          <td>{{a.description}}</td>
          <td>{{a.select_date}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>


{% endblock content %}
