
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family:  'Poppins', sans-serif;
}

/*header*/

.bradcam_bg_1{
    background-image: url(/static/img/banner/pakages-bg.jpg);
 }
 

/*package*/
 .card img:hover{
    transform: scale(1.1);
    transition: .5s;
}
.main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
    color: #ffa500;
}
.days{
    display: flex;
    justify-content: space-between;
}

.packages .card{
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
}
.packages .card img{
    border-radius: 5px;
}
.packages .card .card-body{
    background: transparent;
}
.packages .card .card-body h3{
    font-size: 20px;
    font-weight: 600;
}
.packages .card .card-body p{
    font-size: 13px;
}
.checked{
    color: #ffa500;
}
.star i{
    font-size: 15px;
}
.packages .card .card-body h6{
    margin-top: 4px;
    font-size: 15px;
    color: white;
   
}
.packages .card .card-body a{
    text-decoration: none;
    color: white;
    
}

/*gallary*/

.gallary{
    margin-top: 50px;
}
.gallary .card{
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    cursor: pointer;
}
.gallary .card img{
    border-radius: 10px;
    transition: 0.5s;
}
.gallary .card img:hover{
    transform: scale(1.1);
}


