{% extends 'admin/admin_base.html' %}
{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

{% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Appointment Approvals Required</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Department</th>
          <th>Patient Name</th>
          <th>Mobile</th>
          <th>Description</th>
          <th>Date</th>
          <th>Approve</th>
          <th>Reject</th>
        </tr>
      </thead>
      {% for a in appointments %}
      <tr>
        <td> {{a.department}}</td>
        <td>{{a.your_name}}</td>
        <td>{{a.phone_number}}</td>
        <td>{{a.description}}</td>
        <td>{{a.select_date  | date:'d-m-Y'}}</td>
        <td><a class="btn btn-primary btn-xs" href="{% url 'approve_appointment' a.id %}"><span class="glyphicon glyphicon-ok"></span></a></td>
        <td><a class="btn btn-danger btn-xs" href="{% url 'reject-appointment' a.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>


</div>


{% endblock content %}
